**Autor** : Jeferson Magalhães dos Santos

**e-mail**: jefersonmdossantos@gmail.com
    
**github**: jefersonmglh

#  <a name="indice">  Índice </a>

* [Resumo](#resumo)
* [1. Importação de pacotes e dados](#import)
* [2. Análise preliminar](#visualizacao)
* [3. Tratamento](#tratamento)
* [4. Correlação e Associação](#corr)
* [5. Treinamento do modelo de aprendizado](#modelo)
* [6. Avaliação do modelo](#avaliacao)
* [7. Aprimoramento do modelo](#aprimoramento)
* [8. Conclusão](#conclusao)

#  <a name="resumo"> RESUMO </a>
[Voltar ao índice](#indice)

""

#  <a name="import">1. Importação de pacotes e dados </a>
[Voltar ao índice](#indice)

In [2]:
#basic
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#graph
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
# import chart_studio.plotly as cplt
# import plotly.graph_objs as go

# #model&metrics
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.metrics import roc_curve, auc, precision_recall_fscore_support, classification_report
# from scipy.stats import chi2, chi2_contingency, iqr, pearsonr
# from sklearn.preprocessing import StandardScaler

In [3]:
path = "./microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv"
df = pd.read_csv(path, encoding = "ISO-8859-1", delimiter=';')
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [4]:
basic_columns = ['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO','IN_TREINEIRO', 'SG_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']
socio_q_columns = ['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']
x = basic_columns + socio_q_columns
df = df[x]
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,SG_UF_ESC,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,5,F,1,1,1,3,1,NaN,0,NaN,...,A,A,A,B,A,A,B,A,B,B
1,12,M,1,1,1,11,1,NaN,0,NaN,...,A,A,A,B,A,A,C,A,A,A
2,13,F,3,1,1,15,1,NaN,0,NaN,...,B,A,A,B,A,A,C,B,B,B
3,3,M,1,3,1,0,2,1.0,0,CE,...,A,A,A,B,A,A,B,A,B,B
4,2,F,1,3,1,0,2,1.0,0,CE,...,B,A,A,B,A,B,E,A,B,B

In [5]:
df.to_csv('microdados_enem_2021_clean.csv',index=False)